@model TestProject.Models.BlogPost

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConfirmDelete</title>
    <link href="~/Content/themes/default/bootstrap.css" rel="stylesheet">
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4 class="text-primary">BlogPost</h4>
        <hr />
        <dl class="panel panel-group">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Content)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Content)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="input-group-btn">
                <input type="submit" value="ConfirmDelete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>

</body>
</html>
